/* Write your CSS here */
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #000000;
  font-size: 15px;
  font-family: 'Roboto';
}

.btn {
  background-color: #ffffff;
  color: #ff0b37;
  border-color: #ff0b37;
  font-family: 'Roboto';
  height: 30px;
  width: 60px;
  border-radius: 6px;
  margin: 10px;
}
